{% extends 'base.html' %}
{% block content %}
<center>   
<h1>Customer List</h1>
</center>
<a href="/orders/add/customer?">
    <button>Add Customer</button>
</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Since</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.since }}</td>
                <td><a href="{% url 'customer_update' customer.id %}">Update</a></td>
                <td><a href="{% url 'customer_delete' customer.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}